.posts{

    margin: 2.5rem 0 0 0;

    div{
        margin: 0.75rem 0 2rem 0;
    }
        
    time, span{
        margin: 1rem 1rem 0 0.75rem;
    }


    h1{
        margin: 2rem 0 1rem 0;

    }
    
    a{
        color: var(--white); 
    }
}


